.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border);
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #4682b4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #315f7c;
}

.error {
    color: var(--error);
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.form-links {
    text-align: center;
    margin-top: 1rem;
}

.form-links a {
    color: #4682b4;
    text-decoration: none;
}

.form-links a:hover {
    text-decoration: underline;
}

input {
    background-color: var(--main);
    color: var(--text-contrast);
}

input:focus {
    outline: var(--border);
    background-color: var(--secondary);
}
