{% extends "auctions/layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div id="header">
        <h2>Active Listings</h2>
    </div>
    
    <div class="listings_container">
        {% for listing, prices in items %}
            {%if listing.active %}
                <div class="item_container">
                    <a href="{% url 'item' listing.id %}">
                        <div class="title_container">
                            <h3 class="title">{{listing.title}}</h3>
                        </div>
                        <div class="price_container">
                            {% if prices.bid > listing.starting_bid %}
                                <h5 class="price">${{prices.bid}}</h5>
                            {% else %}
                                <h5 class="price">${{listing.starting_bid}}</h5>
                            {% endif %}
                        </div>
                        <div class="desc_container">
                            <p class="desc">{{listing.desc | truncatewords:10}}</p>
                        </div>
                        <div class="image_container">
                            {% if listing.image_link %}
                                <img class="image" src={{listing.image_link}} alt={{listing.title}}>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {%endif%}
        {%endfor%}
    </div>
{% endblock %}