{% extends "auctions/layout.html" %}

{% block title %}
    Wishlist
{% endblock %}

{% block body %}
    <div id="header">
        <h2>WishList</h2>
    </div>

    <div class="listings_container">
        {% if not items %}
            <div class="no_item_container">
                <h3>No items in wishlist</h3>
                <a href={% url 'index' %}>
                    <h3>See all Active Listings</h3>
                </a>
            </div>
        {% else %}
            {% for listing, prices in items %}
                <div class="item_container {% if not listing.wish_listing.active %} inactive {% endif %}" >
                    <a href="{% url 'item' listing.wish_listing.id %}">
                        <div class="title_container">
                            <h3>{{listing.wish_listing.title}}</h3>
                        </div>

                        <div class="price_container">
                            {% if prices.bid > listing.wish_listing.starting_bid %}
                                <h5>${{prices.bid}}</h5>
                            {% else %}
                                <h5>${{listing.wish_listing.starting_bid}}</h5>
                            {% endif %}
                        </div>

                        <div class="desc_container">
                            <p>{{listing.wish_listing.desc | truncatewords:10}}</p>
                        </div>
                        
                        <div class="image_container">
                            {% if listing.wish_listing.image_link %}
                            <img src={{listing.wish_listing.image_link}} alt={{listing.wish_listing.title}} width="250px" height="auto">
                            {% endif %}
                        </div>
                    </a>
                </div> 
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}