{% extends "network/layout.html" %}

{% block body %}
<div id="fill-layer">
    <div id="popup">
        <div id="popup-top">
            <button class="btn btn-outline-info my-2 my-sm-0" id="popup-close-btn">&#x2715;</button>
        </div>
        <div id="popup-mid-top">
            <p id="popup-user">username</p>
            <p id="popup-error"></p>
        </div>
        <div id="popup-mid-lower">
            <textarea id="popup-post"></textarea>
        </div>
        <div id="popup-lower">
            <button class="btn btn-outline-info my-2 my-sm-0" id="popup-submit-btn">Submit</button>
        </div>
    </div>
</div>
<div id="main">

    <div id="sidebar-left">
        <div class="nav-list">
        </div>
    </div>

    <div id="content">
        <div class="post-container">
            
            <div class="post-top">
                <p id="post-user-id" class="username text-info">Username</p>
                <p id="post-date" class="date">March 8, 2024</p>
            </div>

            <div class="post-upper-middle">
                <div id="post-content" class="post-content">This project shit is annoying af!</div>
            </div>

            <div class="post-lower-middle">
                <p id="post-edited" class="edited">edited</p>
            </div>

            <div class="post-bottom">
                <div class="bottom-left">
                    <div class="like-btn">&lt;3</div>
                    <p id="post-like" class="like-count">123</p>
                </div>

                <div class="bottom-center">
                    <div id="post-comments" class="comments">Comments</div>
                </div>

                <div class="bottom-right">
                    <div id="post-edit-btn" class="edit-btn text-muted">Edit</div>
                </div>
            </div>

        </div>
    </div>
    <div id="sidebar-right">

    </div>
</div>
{% endblock %}